* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Nueve', Arial, sans-serif;
  font-size: 15px;
  color: #444;
  background-color: #ececec;
}

.app-header,
.app-container,
.app-footer {
  margin: 0 auto;
  width: 480px;
}

.app-header,
.app-footer {
  text-align: center;
}

.app-header {
  margin-top: 90px;
  margin-bottom: 30px;
}

.app-header-title {
  margin: 0 0 4px;
  font-size: 27px;
}

.app-header-description {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

.app-container {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

.app-todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-todo-list li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.app-todo-list li label {
  display: block;
  cursor: pointer;
}

.app-todo-list li:last-child {
  border-bottom: none;
}

.app-todo-item-done span {
  color: #888;
  text-decoration: line-through;
}

.app-footer {
  font-size: 12px;
  color: #888;
}
