<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FooDo App</title>

    <link rel="stylesheet" href="app.css">
  </head>
  <body>

    <div class="app-header">
      <h1 class="app-header-title">FooDo App</h1>
      <h2 class="app-header-description">Collborative ToDo app for Foo Baroda Group</h2>
    </div>

    <div class="app-container" ng-app="foodoApp">

      <ul ng-controller="mainController">
        <li ng-repeat="todoItem in todoList">
          <span ng-if="todoItem.done">✔︎</span>
          <span ng-if="!todoItem.done">✖︎</span>
          {{ todoItem.text }}
        </li>
      </ul>

    </div>

    <div class="app-footer">
      &copy; Copyright Foo Baroda.
      Code available on <a target="_blank" href="https://github.com/nayaabkhan/foobaroda-todo-app">Github</a>.
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
